
*{
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
}
#form{
    width: 25vw;
    margin-top: 1rem;
    margin-right: 3rem;
    background: transparent;
    color: white;
    position: absolute;

}
#button{
    margin-top: 1rem;
}
#upload{
    z-index: -1;
    margin-top:1rem ;
}
#select{
    
    width: 25vw;
    height: 5vh;
}
h2{
    margin-top: 2rem;
    margin-right: 3rem;
   color: black;
}
