<body>
<h2>Ingresa Autores</h2>
<app-crud></app-crud>
<h2>Lista de Autores</h2>
    
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let item of userData;let i= index">
        <th scope="row">1</th>
        <td>{{item.name}}</td>
        <td>{{item.surname}}</td>
        <td> <button  (click)="editUser(item)"id="buttoni" type="submit" class="btn btn-warning">Editar</button> 
            <button (click)="deleteUser(item.id)" id="buttoni" type="submit" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
  </table>
</body>


